<body>
    <form [formGroup]="myForm" (ngSubmit)="fetchInvoice()" > 
      <h1> View Invoice </h1> 
              <table class="table table-striped" align="center">
              <tr>
                  <td><label>EmailId : </label></td>  
                  <td><input type="email" placeholder="Enter Email Id" id="emailId"
                   name="emailId" formControlName="email">  
                   <span *ngIf="myForm.controls['email'].errors!=null 
                   && myForm.controls['email'].dirty" class="error">
                      <span *ngIf="!!myForm.controls['email'].errors['email']">Please enter a valid email id</span>
                  </span>
                  <br></td>
                </tr>
              <tr>
              <td>
              <label> Payment Id : </label>  </td>
              <td><input type="text" placeholder="Enter Payment Id" 
                  id="paymentId" name="paymentId" formControlName="paymentId"> 
                  <span *ngIf="myForm.controls['paymentId'].errors!=null 
                  && myForm.controls['paymentId'].dirty" class="error">
                     <span *ngIf="!!myForm.controls['paymentId'].errors['paymentId']">Please enter a Payment Id</span>
                 </span>
              <br> 
              </td>
              </tr>
              <tr>
                  <td colspan="2">
                       <button class="btn btn-success" [disabled]="myForm.invalid" type="submit" >Search</button>&nbsp; 
                       <a class="btn btn-success" routerLink="/Reader/ReaderHomePage"> Back </a>
                       <button  *ngIf="paymentHistory.length>0" class="btn btn-primary" (click)="DownloadInvoice()" 
                            width="100" >Download Invoice</button>
                  </td>
              </tr>
          </table>
      </form>
<section>
  <div id="htmlData" >
    <p *ngIf=" errorMessage.length>0 ">Error: {{errorMessage}}</p>
    <H1 *ngIf="paymentHistory.length>0" > Invoice </H1>
    <hr>
    <table class="table table-striped" *ngIf="paymentHistory.length>0">
        <tr *ngFor="let paymentHistory of paymentHistory;" > 
            <th>Name :</th>
            <th>{{paymentHistory.name}}</th>
            <th>EmailId :</th>
            <th>{{paymentHistory.emailId}}</th>
        </tr>
        <tr *ngFor="let paymentHistory of paymentHistory;" >
             <th>Payment Id :</th>
             <th>{{paymentHistory.paymentId}}</th>
             <th>Payment Date :</th> 
             <th>{{paymentHistory.date | date }}</th>
         </tr>  
    </table>
    <H4 *ngIf="paymentHistory.length>0" >Book Details </H4>
    <hr>
    <table class="table table-striped"  align="center" *ngIf="Books.length>0">
        <thead>
         <tr>
            <th>Book Id</th>
            <th>Title</th>
            <th>Logo</th> 
            <th>Category</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Publisher Date</th>
            <th>Price</th>
            <th>Status</th>
           </tr>
        </thead>
        <tbody>
         <tr *ngFor="let book of Books;let i = index">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.category}}</td>
            <td><img src= "{{ book.logo }}" height="100px" weight ="100px" object-fit="cover" > </td>
            <td>{{book.author}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.publishedDate}}</td>
            <td>{{book.price}}</td>
            <td>{{book.status}}</td>
        </tr>
     </tbody>
 </table>
      </div>
</section>
      </body>