<body>
    <section>
        <nav class="btn-group-vertical" role="group" aria-label="Vertical button group" >
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" routerLink="/Reader/BookList">Book List</a>
            </li>
            <br>
            <li class="nav-item"><a class="nav-link" routerLink="/Reader/BookSearch">Book Purchase</a></li>
            <br>
            <li class="nav-item"><a class="nav-link" routerLink="/Reader/ViewPaymentHistory">Purchase History</a></li>
            <br>
            <li class="nav-item" ><a class="nav-link"routerLink="/Reader/ViewBook">View Book</a></li>
            <br>
            <li class="nav-item" ><a class="nav-link" routerLink="/Reader/ViewInvoice">View invoice</a> </li>
            <br> 
            <li class="nav-item"><a class="nav-link" routerLink="/Reader/Refundbook">Refund Process</a>   </li> 
          </ul>
        </nav>
        <article>
          <h1>Digital Book</h1>
          <p>Buy books online?</p>
          <p> From bestsellers to niche books..
            Digital BookStore is the fastest way to compare book prices 
            and buy books from online book sellers in India.</p>
        </article>
    </section>
</body>