<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="Register()">
    <span *ngIf=" errorMessage.length>0 "> Status: {{errorMessage}} </span>
    <h1>Register</h1>
    <hr>
    <table class="table table-striped" align="center">
      <tr>
          <td>  
            <label for="Name"><b>Author Name : </b></label>
          </td>
          <td>
            <input type="text" placeholder="Enter Author Name" name="name" id="name" 
            formControlName="name" >
            <span *ngIf="myForm.controls['name'].errors!=null 
                    && myForm.controls['name'].dirty" class="error">
                      <span *ngIf="!!myForm.controls['name'].errors['name']">
                          Please enter a valid User Name 
            </span>
            </span>
          </td>
      </tr>
      <tr>
        <td>  
            <label for="psw"><b>Password : </b></label>
        </td>
        <td>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" 
           formControlName="password1">
           <span *ngIf="myForm.controls['password1'].errors!=null 
           && myForm.controls['password1'].dirty" class="error">
              <span *ngIf="!!myForm.controls['password1'].errors['password1']">
                  Please enter a valid Password </span></span>
        </td>
      </tr>
      <tr>
        <td> 
    <label for="psw-repeat"><b>Repeat Password : </b></label>
    </td>
    <td>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" 
            formControlName="password2">
            <span *ngIf="myForm.controls['password2'].errors!=null 
            && myForm.controls['password2'].dirty" class="error">
               <span *ngIf="!!myForm.controls['password2'].errors['password2']">
                   Please enter a valid Repeat Password </span></span>
    </td>
    </tr>  
    <tr>
      <td colspan="2">
          <button class="btn btn-success" type="submit" [disabled]="myForm.invalid" >
            Register</button>
      </td>
    </tr>
    </table>
  </form>
</div>
